<div class="content pure-u-1-1">
    <div class="content-post">
        <h1 class="content-subhead">Contact Detail</h1>
    </div>
    <div class="pure-g">
        <div class="contact pure-u-sm-1-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="contact-header pure-g">
                <div class="pure-u-1-4 contact-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="pure-u-3-4 contact-data">
                    <p class="contact-name">{{contact-name}}</p>
                    <p class="contact-twitter">{{contact-twitter}}</p>
                </div>
            </div>
            <div class="contact-detail pure-g">
                <div class="pure-u-1-12">
                </div>
                <div class="pure-u-11-12 contact-info">
                    <p><i class="fa fa-phone"></i>&nbsp;{{contact-phone}}</p>
                    <p><i class="fa fa-envelope"></i>&nbsp;{{contact-email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-footer detail-footer">
        <a class="pure-button pure-button-primary" href="#contacts/edit/{{id}}"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
        <a class="pure-button button-error" href="#contacts/list"><i class="fa fa-times"></i>&nbsp;Back</a>
    </div>
</div>