<div class="content pure-u-1-1">
    <div class="content-post">
        <h1 class="content-subhead">Edit Contact</h1>
    </div>
    <div id="contact-create">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Name" value="{{name}}">
                <label for="surname">Surname</label>
                <input id="surname" type="text" placeholder="Surname" value="{{surname}}">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email" value="{{email}}">
                <label for="phone">Phone</label>
                <input id="phone" type="text" placeholder="Phone" value="{{phone}}">
                <label for="twitter">Twitter</label>
                <input id="twitter" type="text" placeholder="Twitter" value="{{twitter}}">
                <div class="content-footer">
                    <a class="pure-button pure-button-primary save" href="#"><i class="fa fa-floppy-o"></i>&nbsp;Save</a>
                    <a class="pure-button button-error" href="#contacts/list"><i class="fa fa-times"></i>&nbsp;Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
    
</div>
